// Body
$font-color: #00E7FF;
$font-color-highlighted: #FFEFC7;


// Task Colors
$task-released: #5CB85C;
$task-partially-released: #A6B5BF;
$task-in-progress: #5BC0DE;
$task-stagnant: #F0AD4E;
$task-broken: #C9302C;

// Account Status
$account-verified: $task-released;
$account-queued: $task-stagnant;
$account-suspended: $task-broken;
