/**
*    CIGs awesome background. Thank you guys. - http://robertsspaceindustries.com/
*/
@font-face {
    font-family: 'Electrolize';
    font-style: normal;
    font-weight: 400;
    src: local('Electrolize'), local('Electrolize-Regular'), url('../fonts/Electrolize.woff2') format('woff2');
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html * {
    font-family: 'Electrolize';
}

html {
    background: url('../images/background.jpg') repeat;
    height: 100%;
}

body {
    height: 100%;
}

a {
    color: $font-color;

    &:hover {
        color: $font-color-highlighted;
    }
}

.grid {
    background: transparent url('../images/gridbg_glow.png') repeat;
}

//--- Navigation
nav {
    background: rgba(0, 0, 0, 0);
}

//--- Colours
.task-released {
    background-color: $task-released;
    border-color: $task-released;
}

.task-partially-released {
    background-color: $task-partially-released;
    border-color: $task-partially-released;
}

.task-in-progress {
    border-color: $task-in-progress;
    background-color: $task-in-progress;
}

.task-stagnant {
    background-color: $task-stagnant;
    border-color: $task-stagnant;
}

.task-broken {
    background-color: $task-broken;
    border-color: $task-broken;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to  {
  opacity: 0
}

//--- Account
.account-verified {
    background-color: $account-verified;
}

.account-queued {
    background-color: $account-queued;
}

.account-suspended {
    background-color: $account-suspended;
}

.interaction-bar {

    .container {
        float: right;
        position: relative;
    }

    .bar-content {
        position:fixed;
        width: 100%;

    }

    .disqus {
        width: 90%;
    }
}

//--- Navigation Bar
.nav-modified {
    background-color: transparent;
}

//--- Clickable
.clickable {
    color: $font-color;
    cursor: pointer;
    text-decoration: none;
}

//--- Boxes
.button[disabled]:hover,
.input[disabled]:hover {
    box-shadow: none;
    border: 1px solid rgba(0, 237, 255, 0.3);
}

.button[disabled],
.input[disabled],
.highlighted-element {
    background: rgba(6, 70, 102, 0.4);
    border: 1px solid rgba(0, 237, 255, 0.3);
    color: $font-color;
}

.highlighted-element:hover,
.highlighted-element:active,
.highlighted-element:focus,
.highlighted-element.is-active {
    border-color: rgba(255, 187, 24, 0.6);
    box-shadow: 0 0 6px rgba(76, 33, 4, 0.79), 0 0 18px rgba(255, 187, 24, 0.6);
}

.clickable:hover,
.highlighted-element:hover.highlighted-text,
.highlighted-element:active.highlighted-text,
.highlighted-element:focus.highlighted-text,
.highlighted-element.is-active.highlighted-text {
    color: $font-color-highlighted;
}

.search-box {
    color: $font-color;
    background: rgba(6, 70, 102, 0.4);
    border: 1px solid rgba(0, 237, 255, 0.3);
}

//--- Table
.dark-table table {
    background: rgba(6, 70, 102, 0.4);
    border: 1px solid rgba(0, 237, 255, 0.3);
    color: $font-color;

    th,
    th:hover {
        color: $font-color;
        background: rgba(6, 70, 102, 1);
    }

    tr:hover {
        color: $font-color-highlighted;
        background: rgba(6, 70, 102, 1);
    }

    .detail {
        background-color: rgba(6, 70, 102, 0.4) !important;
    }

}

.dark-table .row {
    color: $font-color;
}

//--- Custom Tables
.studio-table .detail {

    background: rgba(6, 70, 102, 0.4);
    border: 1px solid rgba(0, 237, 255, 0.3);
    color: $font-color;

}

//--- Task Box
.task-box {
    padding: 0.75rem 1rem 0.5rem 1rem;
    margin-bottom: 0.5rem !important;
}

//--- Utitilies
.is-dashed {
	border-bottom: 1px dashed #b5b5b5;
	cursor: default;
}


.progressbar {
    background-color: #172230;
    border-radius: 2px;
    display: blocK;
    height: 0.75rem;
    overflow: hidden;
    width: 100%;

    >div {
        height: 100%;
    }
}

.meta-color {
    color: #008290;
    font-size: 0.9em;
}

//--- Content Box
.content-box {

    background: rgba(6, 70, 102, 0.4);
    border: 1px solid rgba(0, 237, 255, 0.3);
    text-align: justify;
    color: #00E7FF;
    height: 100%;
    width: 100%;

    .header {
        background: #064666;
        border-bottom: 2px solid #FFF;
        padding: 0.5rem
    }

    .content {
        padding: 1rem;
    }

}