// Colours
.task-released {
    background-color: $task-released;
    border-color: $task-released;
}

.task-partially-released {
    background-color: $task-partially-released;
    border-color: $task-partially-released;
}

.task-in-progress {
    border-color: $task-in-progress;
    background-color: $task-in-progress;
}

.task-stagnant {
    background-color: $task-stagnant;
    border-color: $task-stagnant;
}

.task-broken {
    background-color: $task-broken;
    border-color: $task-broken;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to  {
  opacity: 0
}

//--- Account
.account-verified {
    background-color: $account-verified;
}

.account-queued {
    background-color: $account-queued;
}

.account-suspended {
    background-color: $account-suspended;
}

//--- Interaction Bar
.interaction-bar .disqus {
    width: 90%;
}
